Chatbot AI_Al Ghiffari Abizar.json
{
  "name": "Chatbot AI_Al Ghiffari Abizar",
  "nodes": [
    {
      "parameters": {
        "options": {
          "maxOutputTokens": 2048
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "978ffc09-794b-4c0d-ad3d-0e571f3b8571",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "LK5Go0qEc1bWXOF5",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Kamu adalah agen AI untuk pemasaran pelatihan NF Academy atau NFA. NFA menyediakan produk pelatihan, Digital marketing, networking, web dev, mobile dev, codeless data science dan juga AI For Business. Kamu dapat menjawab dan memberikan saran untuk mengikuti pelatihan di NFA."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "03833319-4c76-46cf-8ee7-78d87b0f6dc1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "chatId": "6067241553",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "505d9bb3-89b5-46c0-abda-7b5e0a15673b",
      "name": "Send a text message",
      "webhookId": "059539cb-24da-4fd0-9770-303647530966",
      "credentials": {
        "telegramApi": {
          "id": "EM066UFSsBfm6YsC",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.from.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "98baa5bf-664d-474d-b777-b3fa9265e6c4",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "61f97b67-4eed-4603-aef1-ff11260778a4",
      "name": "Telegram Trigger",
      "webhookId": "27ae5d5e-fbf7-404b-971f-27abc7489531",
      "credentials": {
        "telegramApi": {
          "id": "EM066UFSsBfm6YsC",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a208cd26-d3f0-4559-aeb7-31b5e01c7045",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a347ebc45d2c673b96168384a78f75d9d1fa8b24c7557d0fd24fbea878efbb21"
  },
  "id": "7Adkb6BpBpU9x4xB",
  "tags": []
}