Chatbot AI Web_Al Ghiffari Abizar (1).json
{
  "name": "Chatbot AI Web_Al Ghiffari Abizar",
  "nodes": [
    {
      "parameters": {
        "options": {
          "systemMessage": "=Anda adalah asisten NF Academy.\n\nSemua informasi bootcamp harus diambil dari Google Sheets menggunakan tool yang tersedia.\n\nJangan mengarang informasi harga atau deskripsi.\n\nJika data tidak ditemukan di Google Sheets, jawab:\n\"Maaf, data tidak ditemukan di database.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "d131ae8d-dfb5-4f3a-a08e-39a367df92d6",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "948d976e-65ff-49e2-a5b4-9c61afb7a8b6",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get row(s) in sheet in Google Sheets",
        "documentId": {
          "__rl": true,
          "value": "1jGupBkkhJcyoq00V4aEtjC9nz4PzT9UHj0GUVw641xA",
          "mode": "list",
          "cachedResultName": "n8n 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jGupBkkhJcyoq00V4aEtjC9nz4PzT9UHj0GUVw641xA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jGupBkkhJcyoq00V4aEtjC9nz4PzT9UHj0GUVw641xA/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        368,
        208
      ],
      "id": "2a0ca1c9-3a84-49be-8f72-8a95f21f1b33",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eZjAsmtsS5919M88",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "=Halo ini adalah bot NF Academy, ada yang bisa saya bantu?",
        "options": {
          "subtitle": "Kami akan membatumu 24/7",
          "title": "NF Academy-Bot",
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "e1df4968-4dcb-46c3-9fd0-5ff039e102c4",
      "name": "When chat message received",
      "webhookId": "8a4bbaa2-8490-4c79-8876-380082ba7108"
    },
    {
      "parameters": {
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "bf0ff693-5870-40f4-97a7-9987191e2408",
      "name": "Chat",
      "webhookId": "1ea06c60-eb5d-4aa4-a08c-e493e8deefab"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "635e6cef-0039-4e0d-867f-08f820c31922",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "ZoanZShVTkq9DW49",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "88b786e4-b098-4ed9-a068-02f64be864ab",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a347ebc45d2c673b96168384a78f75d9d1fa8b24c7557d0fd24fbea878efbb21"
  },
  "id": "v61H2ae53L7iFRSU",
  "tags": []
}